body {
    background-color: white;
    text-shadow: 0 1px 3px 
    display: flex; /*Flex Container Properties*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*------------HEADER--------------*/
nav {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: gray;
}

.navbar {
    margin: 10px auto 60px auto;
}

.navbar-brand {
    text-align: left;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/*--------------MAIN----------------*/

main {
    padding: 10px 100px;
}

.display-4 { /*Styling to Jumbotron*/
    text-align: left;
}

@media (min-width: 576px){ /*_MOBILE*/
    main {
        padding: 50px 150px 0px 150px;
    }
    
    .wendytext {
        margin-bottom: 50px;
    }

    .aboutwendy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        align-self: center;
    }

   .list-group {
       margin: 50px 0px 100px 0px;
   }

    footer {
        padding: 50px 150px 0px 150px;
    }
}

@media (min-width: 992px){ /*_DESKTOP*/

h2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.aboutwendy {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-group {
    margin-top: 50px;
}

/*----------------LINKS---------------*/
.active {
    color: white;
    text-decoration: none;
}

.wendytext {
    padding-right: 20px;
}

a.linkcolor {
    color: #17a2b8;
}

a:focus, a:hover{
    color: darkslategray;
}

footer {
    margin: 40px 100px;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: gray;
}